 @media (max-width: 900px) {
    .blogs-main-new{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: auto;
    }
    .blogs-news-img-container{
        grid-column: 1;
        grid-row: 2;
    }
    .blogs-news-img-container img{
        width: 100%;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
        margin: auto;
        text-align: center;
    }
    
    .section--ultimo--blogpost--grid--container{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        row-gap: 40px;
        width: 80%;
        margin: 0 auto;
        margin-block-end: 92px;
    
    }
    /* perfil */

     .main--perfil--container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-block-end: 114px;
    }
    .main--perfil--container img{
        margin: 0 auto;
    }
    

    .main--perfil--container h2{
        margin-block: 12px;
    }
    .main--perfil--info--container{
        padding-inline-start: 115px;
        margin-block-start: 20px;
    }

    .main--proyect--container{
        margin: 0 0 188px 0;
    }
    .main--proyect--info--container{
        grid-template-columns: repeat(2, 1fr);
    }
    .main--proyect--info--container div h4:nth-child(2)
    .main--proyect--info--container div h4:nth-child(3)
    .main--proyect--info--container div h4:nth-child(4){
        margin-block: 12px;
    }
}
@media (max-width: 600px) {
    .section--ultimo--blogpost--grid--container{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        row-gap: 40px;
        width: 80%;
        margin: 0 auto;
        margin-block-end: 92px;
        }

            /* perfil */

     .main--perfil--container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        margin-block-end: 180px;
    }


}   
