@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --blue: #49CFAD;
    --gray:  #E5E9ED;
    --black: #22272D;
    --roboto: 'Roboto', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    --roboto-slab: 'Roboto Slab', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--roboto-mono);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
/* Header */
header{
    height: 140px;
    width:100%;
    display:grid;
    grid-template-rows: repeat(2, 1fr);
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.header--icons--container{
    background-color: var(--blue);
    display: grid;
    width: 100%;
    height: 50px;
}
.header--icons--container .icons{
    width: 300px;
    height: auto;
    margin-inline-end: 45px; 
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    align-items: center;
}
.header--icons--container .icons span{
    color: white;
}

.header--icons--container .icons a{
    text-decoration: none;
}
.profile-link{
    text-align: end;
}
.profile-link a{
    color: black;
    margin-inline-end: 45px;
}

.nav--logo--container img{
    width: 250px;
    height: auto;
}


/* Index Page*/
.home-main{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: url('../assets/img/Cover.png') center/cover no-repeat;
    width: 100vw;
    height: 100%;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-block-start: 80px;
}
.home-main-text{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.home-main-btn{
    height: 50px;
    width: fit-content;
    padding: 10px;
    background-color: var(--blue);
    display: grid;
    align-items: center;
    border: 1px solid white;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-weight: 700;
    font-size: 18px;

}

/* Footer */
footer{
    background-color: var(--black);
    border-block-start: 45px solid var(--blue);
    width: 100%;
}
footer p{
    color: white;
    text-align: center;
    padding: 30px;
    align-items: center;
}
.blogs-body {
    position: static;
}
footer div:nth-child(1){
    background-color: var(--blue);
}
footer div:nth-child(2){
    background-color: var(--black);
    color: white;
}


/* Blogs page */
.blogs-body{
    position: static;
}
.blogs-main{
    display: grid;
} 
.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main-new h3{
    padding: 10px;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 90%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-block-end: 35px;
}
.blogs-news-info-container h2{
    margin-block-end: 18px;
}

.blogs-news-info-container a{
    margin-block-start: 12px;
    color: black;
    text-decoration: none;
    border: 1px solid var(--blue);
    padding: 10px;
}
.section--ultimo--blogpost{
        margin-block-start: 18px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
}
.section--ultimo--blogpost h4{
    text-align: center;
    font-weight: 700;
}
.section--ultimo--blogpost hr{
    width: 80%;
    margin: 26px auto;
}

.section--ultimo--blogpost--grid--container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    row-gap: 40px;
    width: 80%;
    margin: 0 auto;
    margin-block-end: 92px;
}
.section--card img{
    width: 100%;
}
.section--card p:nth-child(1){
    margin: 16px 0 34px;
    background-color: red;
}
.section--card p:nth-child(2){
    margin: 16px 0 30px;
}
.section--card p:nth-child(3){
    margin-block-end: 38px;
}
.section--card a{
    text-decoration: none;
    color: black;
    border: 1px solid var(--blue);
    padding: 10px;
}

/* Blog page */
.blog--body{
    position: static;
}
.blog--main--img--container{
    width: 80%;
    margin: 0 auto;
    padding: 0 50px 40px;
}
.blog--main--img--container img{
    width: 100%;
    height: 100%;
    margin-block-end: 49px;
}
.blog--main img:nth-child(2),
.blog--main img:nth-child(3){
    width: 100px;
    height: 100px;
}
.blog--main--text{
    margin-block-start: 22px;
    width: 80%;
    margin: 0 auto 70px;
    padding: 0 50px 40px;
}
.blog--main--text h3{
    margin-block-end: 18px;
}
.blog--main--text hr{
    margin-block-end: 32px;
}

.blog--main--text h2{
    margin-block-end: 30px;}

.main--contact-container{
    margin-block-start: 38px;
    background-color: #E5E9ED;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-evenly;
    padding: 70px 70px 120px;
}
.main--contact--letter--container,
.main--contact--heart--container {
    display: grid;
    align-items: center;
}
.main--contact--letter--container div,
.main--contact--heart--container div {
    grid-column: 2;
}

.main--contact-container img{
    width: 100px;
    height: 100px;
    margin-inline-end: 16px;
}    
.main--contact-container div{
    padding: 12px;
}
.main--contact-container div a{
    color: black;
    margin-block-end: 4px;
}
    /* About Me */
.perfil--body{
    position: static;
}

.main--perfil--container{
    background-color: #E5E9ED;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 60px 40px;    margin-block-end: 20px;
}
.main--perfil--container img{
    width: 350px;
    height: 200px;
    margin-inline-end: 28px;
}

.main--perfil--container h2{
    margin-block-end: 12px;
}
.main--perfil--info--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main--proyect--container h3{
    margin-block-end: 12px;
}
.main--proyect--container{
    margin: 0 0 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    justify-content: center;
}
.main--proyect--container hr{
    width: 100%;
    margin: 12px 0 32px 0;
}

.main--proyect--info--container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 23px;
}
.main--proyect--info--container div h4{
    margin-block-end: 12px;
}
.contact-section__header{
    text-decoration: underline;
}

